VB_ADMIN_PASS=admin123
VB_ADMIN_KEY=vb-key-admin-00001
VB_USER1_PASS=john123
VB_USER1_KEY=vb-key-john-00002
VB_USER2_PASS=jane123
VB_USER2_KEY=vb-key-jane-00003
VB_AUDITOR_PASS=audit123
VB_AUDITOR_KEY=vb-key-auditor-00004
VB_JWT_SECRET=super-secret-jwt-key-vulnbank-2024
